@model EmployeeCreateVM

<div class="d-flex justify-content-center">
    <h1 class="text-success">Create Employee</h1>
</div>

<br />
<hr />
<br />

<form asp-controller="Employee" asp-action="Create" enctype="multipart/form-data" method="post">

    enctype = Encoding Type
    It tells the browser how to send form data to the server.

    The default encoding is:
    application/x-www-form-urlencoded
    That works for:
    Text inputs
    Numbers
    Hidden fields
    Selects
    But it CANNOT send files.

    Why multipart/form-data Is Required
    The browser:
    Splits the form into multiple parts
    Sends file content as binary
    Sends other fields separately
    Adds boundaries between them
    This is called multipart encoding.

    Without it:
    IFormFile will be null
    File size will be 0
    Model binding fails

    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="mb-3 form-group">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="mb-3 form-group">
        <label asp-for="Age" class="form-label"></label>
        <input asp-for="Age" class="form-control" />
        <span asp-validation-for="Age" class="text-danger"></span>
    </div>

    <div class="mb-3 form-group">
        <label asp-for="Salary" class="form-label"></label>
        <input asp-for="Salary" class="form-control" />
        <span asp-validation-for="Salary" class="text-danger"></span>
    </div>

    <div class="mb-3 form-group">
        <label asp-for="Image" class="form-label"></label>
        <input asp-for="Image" class="form-control" type="file" />
        <span asp-validation-for="Image" class="text-danger"></span>
    </div>

    <div class="mb-3 form-group">
        <label asp-for="DepartmentId" class="form-label"></label>
        <select asp-for="DepartmentId" class="form-select" asp-items="Model.Departments" required>
        </select>
        <span asp-validation-for="DepartmentId" class="text-danger"></span>
    </div>

    <div class="d-flex justify-content-center gap-3">
        <input type="submit" class="btn btn-success" value="Create Employee" />
        <a asp-action="Index" asp-controller="Employee" class="btn btn-secondary">Cancel</a>
    </div>

</form>

@section Scripts
{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
}


@* <partial name="_ValidationScriptsPartial" /> *@