@model EmployeeReadVM

<div class="card" style="width: 18rem;">
    <div class="card-body">
        <partial name="_EmployeeDetailsPartial" model="Model" />
        <a asp-action="Index" asp-controller="Employee" class="btn btn-outline-secondary">Back</a>
    </div>
</div>